<header>
  <div class="page-header">
    <h1 class="site-name">
      <a class="site-name__double"><%= image_tag 'logo_double.png' %></a>
      <a class="site-name__sons"><%= image_tag "logo_sons.png" %></a>
    </h1>
    <nav id="nav-background" class="">
      <div class="nav-background-inner">
        <ul class="site-nav">
          <li><%= link_to "HAIR", root_path %></li>
          <li><%= link_to "STAFF", root_path %></li>
          <li><%= link_to "INFO", root_path %></li>
          <li><%= link_to "PRICE", root_path %></li>
          <li><%= link_to "ACCESS", root_path %></li>
          <li><%= link_to "Q&A", root_path %></li>
        </ul>
        
        
        <p class="site-reserve">
          各店共通<a href="https://appt.salondenet.jp/index.php?corpstr=hearts&amp;get=6a5e647258646c3627351f6362676b5c6957716d5b6f6733707269715e63" target="_blank">オンライン予約</a>
        </p>
      </div>
    </nav><!-- / #nav-background -->

  </div><!-- / .page-header -->
    <div id="toggle_menu" class="sp">
      <div class="inner">
        <div class="menu1"></div>
        <div class="menu2"></div>
        <div class="menu3"></div>
      </div>
    </div><!-- / #toggle_menu -->
</header>

<div id="slide">
  <ul>
    <li><%= image_tag 'top/3.jpeg', height: '500px', width: "1440px" %></li>
    <li><%= image_tag 'top/14.jpeg', height: '500px', width: "1440px" %></li>
    <li><%= image_tag 'top/17.jpeg', height: '500px', width: "1440px" %></li>
    <li><%= image_tag 'top/20.jpeg', height: '500px', width: "1440px" %></li>
  </ul>
</div>

<div id="slide2">
  <ul>
    <li><%= image_tag 'top/3.jpeg', height: '500px', width: "1440px" %></li>
    <li><%= image_tag 'top/14.jpeg', height: '500px', width: "1440px" %></li>
    <li><%= image_tag 'top/17.jpeg', height: '500px', width: "1440px" %></li>
    <li><%= image_tag 'top/20.jpeg', height: '500px', width: "1440px" %></li>
  </ul>
</div>

<div class="hair-style">
    <section class="news">
      <div class="inner">
        <h2>New Style</h2>
        
            <ul class="news-list">
              <% @model_ids[0].each do |id| %>
              <li>
                <a href="Double/hair_style/3/812.html">
                  <div class="photo"><%= image_tag Picture.find(id).image, class: "hair-icon" %></div>
                  <div class="detail"><span class="ttl">コンパクトなショートボブ</span><span class="category">BOB NEW HAIR</span><span class="date">2021 12.07</span></div>
                </a>
              </li> 
              <% end %>
            </ul>
        
        
        
            <ul class="news-list">
              <% @model_ids[1].each do |id| %>
              <li>
                <a href="Double/hair_style/3/812.html">
                  <div class="photo"><%= image_tag Picture.find(id).image, class: "hair-icon" %></div>
                  <div class="detail"><span class="ttl">コンパクトなショートボブ</span><span class="category">BOB NEW HAIR</span><span class="date">2021 12.07</span></div>
                </a>
              </li> 
              <% end %>
            </ul>
        
        
        
            <ul class="news-list">
              <% @model_ids[2].each do |id| %>
              <li>
                <a href="Double/hair_style/3/812.html">
                  <div class="photo"><%= image_tag Picture.find(id).image, class: "hair-icon" %></div>
                  <div class="detail"><span class="ttl">コンパクトなショートボブ</span><span class="category">BOB NEW HAIR</span><span class="date">2021 12.07</span></div>
                </a>
              </li> 
              <% end %>
            </ul>
        
      </div>
    </section>
</div>









<script>

(function($){
$(function() {
		//ヘッダーメニューボタン
	$("#toggle_menu").click(function(){
	  
		$("body").toggleClass("open");
		$(".menu1").toggleClass("menuclick1");
		$(".menu2").toggleClass("menuclick2");
		$(".menu3").toggleClass("menuclick3");
		
		if($('body').hasClass('open')) {
		} else {
			$("#nav-background").addClass('close');
			setTimeout(function() {
				$("#nav-background").removeClass('close');
			}, 500);
		}
		
	});
  
});

})(jQuery);


$(function(){
// 設定
var $interval = 5000; // 切り替わりの間隔（ミリ秒）
var $fade_speed = 1000; // フェード処理の早さ（ミリ秒）

$("#slide ul li").hide().css({"position":"absolute","top":0,"left":0});
$("#slide ul li:first").addClass("active").show();

setInterval(function(){
  //alert("aa");
var $active = $("#slide ul li.active");
var $next = $active.next("li").length?$active.next("li"):$("#slide ul li:first");

$active.fadeOut($fade_speed).removeClass("active");
$next.fadeIn($fade_speed).addClass("active");
},$interval);

});

$(function(){
// 設定
var $interval = 5000; // 切り替わりの間隔（ミリ秒）
var $fade_speed = 1000; // フェード処理の早さ（ミリ秒）

$("#slide2 ul li").hide().css({"position":"absolute","top":0,"left":0});
$("#slide2 ul li:first").addClass("active").show();

setInterval(function(){
  //alert("aa");
var $active2 = $("#slide2 ul li.active");
var $next2 = $active2.next("li").length?$active2.next("li"):$("#slide2 ul li:first");

$active2.fadeOut($fade_speed).removeClass("active");
$next2.fadeIn($fade_speed).addClass("active");
},$interval);

});
</script>




