<header>
  <div class="page-header">
    <h1 class="site-name">
      <a href="/" class="site-name__double"><%= image_tag 'logo_double.png' %></a>
      <a href="/" class="site-name__sons"><%= image_tag "logo_sons.png" %></a>
    </h1>
    <nav id="nav-background" class="">
      <div class="nav-background-inner">
        <ul class="site-nav">
          <li><%= link_to "HAIR", pictures_path %></li>
          <li><%= link_to "STAFF", root_path %></li>
          <li><%= link_to "INFO", root_path %></li>
          <li><%= link_to "PRICE", root_path %></li>
          <li><%= link_to "ACCESS", root_path %></li>
          <li><%= link_to "Q&A", root_path %></li>
        </ul>
        
        <p class="site-reserve">
          各店共通<a href="#" target="_blank">オンライン予約</a>
        </p>
      </div>
    </nav><!-- / #nav-background -->

  </div><!-- / .page-header -->
  <div id="toggle_menu" class="sp">
    <div class="inner">
      <div class="menu1"></div>
      <div class="menu2"></div>
      <div class="menu3"></div>
    </div>
  </div><!-- / #toggle_menu -->
</header>

<div class="hair-show">
    <ul id="imagelist" class="imagelist">
    </ul>
    
    <div class="mainImage">
        <img id="mainImage">
        <div class="stylist">
          <table>
            <tr>
              <th class="stylist-title" colspan="2">Stylist</th>
            </tr>
            <tr>
              <td class="stylist-name" colspan="2"><%= @cutmodel.stylist %></td>
            </tr>
            <tr>
              <th class="price-title" colspan="2">Price</th>
            </tr>
            <% @cutmodel.menu.each do |menu| %>
            <tr>
              <td class="price">
                <%= menu.name %>
              </td>
              <td class="price">
                ￥<%= menu.price %>〜
              </td>
            </tr>
            <% end %>
          </table>
        </div>
    </div>
    
    <div id="info02-block"> 
      <h4>Style Description</h4>
      <div class="comment">
        <p style=""><%= @cutmodel.description %></p>
      </div>
      
      <h4>How to styling</h4>
      <div class="howto">
         <p><%= @cutmodel.styling %></p>
      </div>
    </div>
</div>

<br><br><br>

<div id="footer-wrapper">
<footer>
    <h2><span class="copy function_LH_italic">Omotesando HAIR BRAND</span></h2>
    <div class="sec01">
      <div class="salon">
        <h3>Double</h3>
        <p>
          東京都XXXXXXXXXXXXX<br>
          XXXXXXXXXXXXXXXXXX１F
          <a href="tel:0334756060">03-3475-6060</a>
        </p>
      </div>
      <div class="salon">
        <h3>Double SONS</h3>
        <p>
          東京都XXXXXXXXXXX<br>
          XXXXXXXXXXXビル2F
          <a href="tel:0364506408">03-XXXX-XXXX</a>
        </p>
      </div>
    </div><!-- / .sec01 -->
    <div class="sec02">
      <nav id="salon-nav">
        <h3>店舗情報</h3>
        <ul>
          <li><a href="#">店舗アクセス</a></li>
          <li><a href="#">採用情報</a></li>
          <li><a href="#">料金のご案内</a></li>
          <li><a href="#">お知らせ</a></li>
          <li><a href="#">よくある質問</a></li>
          <li><a href="#">ウェブログ</a></li>
        </ul>
      </nav>
      <nav id="hairstyle-nav">
        <h3>髪型・ヘアスタイル</h3>
        <ul>
        <li><a href="#">ショート</a></li>
        <li><a href="#">アレンジ</a></li>
        <li><a href="#">ミディアム</a></li>
        <li><a href="#">メンズ　</a></li>
        <li><a href="#">ボブ</a></li>
        <li><a href="#">ロング</a></li>
        </ul>
      </nav>
    </div><!-- / .sec02 -->
    <div class="sec03">
      <nav id="stylist-nav">
        <h3>スタイリスト</h3>
        <ul>
 
        <li><a href="#">山下　浩二</a></li>  
        <li><a href="#">根本　貴司</a></li>  
        <li><a href="#">西村　光太郎</a></li>  
        <li><a href="#">田中　直美</a></li>  
        <li><a href="#">東内　隆之</a></li>  
        <li><a href="#">柏　佳代子</a></li>  
        <li><a href="#">内田　由美</a></li>  
        <li><a href="#">江良　友規子</a></li>  
        <li><a href="#">松山　絵美</a></li>  
        <li><a href="#">西川　綾</a></li>  
        <li><a href="#">中嶋　瑛</a></li>  
        <li><a href="#">加藤　晃稔</a></li>  
        <li><a href="#">藤咲　真季</a></li>  
        <li><a href="#">佐藤　耕哉</a></li>  
        <li><a href="#">花</a></li>  
        <li><a href="#">大谷　茜</a></li>
        <li><a href="#">中原　章義</a></li>  
        <li><a href="#">増山　聡子</a></li>  
        <li><a href="#">漆原　サチコ</a></li>  
        <li><a href="#">松井　正太</a></li>  
        <li><a href="#">土川　直人</a></li> 
       </ul>
      </nav>
    </div><!-- / .sec03 -->
  </footer>
</div>
    
<script>
  
(function($){
$(function() {
		//ヘッダーメニューボタン
	$("#toggle_menu").click(function(){
	  
		$("body").toggleClass("open");
		$(".menu1").toggleClass("menuclick1");
		$(".menu2").toggleClass("menuclick2");
		$(".menu3").toggleClass("menuclick3");
		
		if($('body').hasClass('open')) {
		} else {
			$("#nav-background").addClass('close');
			setTimeout(function() {
				$("#nav-background").removeClass('close');
			}, 500);
		}
		
	});
  
});

})(jQuery);
      
var imageTotalNumber = <%= Picture.where(cutmodel_id: @cutmodel.id).length.to_i %>;
var cutModelId = <%= @cutmodel.id.to_i %>;
var mainImageElement = document.getElementById("mainImage");
var imageListElement = document.getElementById("imagelist");

mainImageElement.setAttribute("src", `/assets/model${cutModelId}/image1.jpeg`);

for (  let i = 0;  i < imageTotalNumber;  i++  ) {
 
  var liElement = document.createElement("li");
  console.log(imageListElement);
  liElement.style.backgroundImage = `url(/assets/model${cutModelId}/image${i + 1}.jpeg)`;
  
  
  liElement.addEventListener('click', () => {
    mainImageElement.setAttribute("src", `/assets/model${cutModelId}/image${i + 1}.jpeg`);
  });
  
  imageListElement.appendChild(liElement);
}
      
      
  </script