<header>
  <div class="page-header">
    <h1 class="site-name">
      <a href="/" class="site-name__double"><%= image_tag 'logo_double.png' %></a>
      <a href="/" class="site-name__sons"><%= image_tag "logo_sons.png" %></a>
    </h1>
    <nav id="nav-background" class="">
      <div class="nav-background-inner">
        <ul class="site-nav">
          <li><%= link_to "HAIR", pictures_path %></li>
          <li><%= link_to "STAFF", root_path %></li>
          <li><%= link_to "INFO", root_path %></li>
          <li><%= link_to "PRICE", root_path %></li>
          <li><%= link_to "ACCESS", root_path %></li>
          <li><%= link_to "Q&A", root_path %></li>
        </ul>
        
        <p class="site-reserve">
          各店共通<a href="#" target="_blank">オンライン予約</a>
        </p>
      </div>
    </nav><!-- / #nav-background -->

  </div><!-- / .page-header -->
</header>

<article id="detail"> 
    <ul id="tumb-pc">
 
      <li class="select"><img src="/thumb.php?src=content/images/SONS/tsuchikawa/konnpakutoshortbob/bob86_4.jpg&amp;h=70" height="70"></li> 
      <li class=""><img src="/thumb.php?src=content/images/SONS/tsuchikawa/konnpakutoshortbob/bob86_2.jpg&amp;h=70" height="70"></li> 
      <li class=""><img src="/thumb.php?src=content/images/SONS/tsuchikawa/konnpakutoshortbob/bob86_3.jpg&amp;h=70" height="70"></li> 
      <li class=""><img src="/thumb.php?src=content/images/SONS/tsuchikawa/konnpakutoshortbob/bob86_1.jpg&amp;h=70" height="70"></li>
    </ul>
    <div id="main-style-image">
      <ul class="slides">
 
      <li class="image" style="opacity: 1;"><span><img src="content/images/SONS/tsuchikawa/konnpakutoshortbob/bob86_4.jpg"></span></li> 
      <li class="image disnon" style="opacity: 1;"><span><img src="content/images/SONS/tsuchikawa/konnpakutoshortbob/bob86_2.jpg"></span></li> 
      <li class="image disnon" style="opacity: 1;"><span><img src="content/images/SONS/tsuchikawa/konnpakutoshortbob/bob86_3.jpg"></span></li> 
      <li class="image disnon" style="opacity: 1;"><span><img src="content/images/SONS/tsuchikawa/konnpakutoshortbob/bob86_1.jpg"></span></li>
      </ul>
    </div>
    
    <div id="info01-block" class="">
      <div id="stylist"> 
        <h3>Stylist</h3>
        <p><a href="Double/staff/3/23.html">Naoto Tsuchikawa</a></p>      </div>
      <div id="price">
        <h3>Price</h3>
        <p>カット　　　　　　　　￥７７００　　<br>
カット＆カラー　　　　￥１５４００〜<br>
カット＆パーマ　　　　￥１６５００〜<br>
カット＆ホットパーマ　￥１９８００〜<br>
（全て税込み）</p>
      </div>
    </div>
    
    <div id="info02-block"> 
      <h4><img src="img/haircatalog_201410/ttl_description.png" alt="Style Description"></h4>
      <div class="comment">
<p>襟足は少しタイトに、バックには丸みのあるシルエット。<br>ポイントはサイドの髪をさりげなく頬にかかる長さにする事で、<br>シンプルなボブでもちょっとしたアクセントと小顔効果をプラスしてくれます。<br>コンパクトなヘアの中に女性らしさを演出してくれるスタイルです。</p>
      </div>
      
      <h4><img src="img/haircatalog_201410/ttl_howto.png" alt="How to styling"></h4>
      <div class="howto">
<p>やわらかめのWAXを全体にかるく馴染ませて、少しだけ動きが出るようにセット。<br>バック→サイド→全体を整えて→前髪を残りで軽くつけるような手順です。</p>
<p>ヘアーオイルだけでさらっとミニボブ風にスタイリングするのもよいですね。</p>
      </div>
    </div>
    
    <div id="more_style"> 
      <h3>More style</h3>
      <ul id="other-pc">
 
        <li><a href="Double/hair_style/3/19.html"><img src="/thumb.php?src=content/images/Double/hairstyle/shobu/bob_hairstyle16_4.jpg&amp;h=200" height="200"></a></li> 
        <li><a href="Double/hair_style/3/26.html"><img src="/thumb.php?src=content/images/Double/hairstyle/shobu/bob_hairstyle28_2_2.jpg&amp;h=200" height="200"></a></li> 
        <li><a href="Double/hair_style/3/29.html"><img src="/thumb.php?src=content/images/Double/hairstyle/ban/bob43/bob_hairstyle43_2.jpg&amp;h=200" height="200"></a></li>
      </ul>
      <ul id="other-sp">
 
        <li><a href="Double/hair_style/3/810.html"><img src="content/images/SONS/matsui/bob/bob84/bob84_225.jpg" alt="空気感のあるボブ"></a></li> 
        <li><a href="Double/hair_style/3/20.html"><img src="content/images/Double/hairstyle/ban/bob_hairstyle15_top.jpg" alt="ボブヘアスタイル15"></a></li> 
        <li><a href="Double/hair_style/3/62.html"><img src="content/images/SONS/matsui/bob/bob79/bob79_225.jpg" alt="ボブヘアスタイル79"></a></li>
      </ul>
    </div>

    
    <div id="pickup_style"> 
      <h3>Pick up style</h3>
      <ul class="clearfix">
        <li><a href="Double/hair_style/3/45.html"><img src="content/images/Double/hairstyle/matsui/bob62/bob_hairstyle62_top.jpg" alt="ボブヘアスタイル62"></a></li>        <li><a href="Double/hair_style/3/22.html"><img src="content/images/Double/hairstyle/uchida/bob_hairstyle20_1.jpg" alt="ボブヘアスタイル20"></a></li>        <li><a href="Double/hair_style/3/23.html"><img src="content/images/Double/hairstyle/shigeno/bob_hairstyle24_1.jpg" alt="ボブヘアスタイル24"></a></li>        <li><a href="Double/hair_style/3/4.html"><img src="content/images/Double/hairstyle/urushibara/bob_hairstyle4_1.jpg" alt="ボブヘアスタイル4"></a></li>
      </ul>
    </div>

  </article>